Repository kenji005114/fs-maker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --parser html, prettier --write, eslint --fix, vitest run related --passWithNoTests

.lintstagedrc.json:

{
  "*.svg": "prettier --write --parser html",
  "*.{json,md,vue,html,ts}": "prettier --write",
  "*.{ts,vue}": "eslint --fix",
  "*.ts": "vitest run related --passWithNoTests"
}

chore: new version
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: eliminate redundant logs on the console (#27)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix typo (#28)
  CHANGELOG.md
Due: prettier --write

refactor: remove useless `React` import (#29)
  eslint.config.js
  src/options/components/PopupTransition.tsx
  src/options/components/RuleEditor.tsx
  src/popup/components/ColorPicker.tsx
  src/popup/components/RangeSlider.tsx
  src/popup/components/ToolTip.tsx
  src/popup/index.tsx
Due: none

fix: ColorPicker component does not represent the HSV/HSL color space correctly (#31)
  .gitignore
  src/popup/components/ColorPicker.tsx
Due: none

fix(ci): using `eslint --fix` will cause inconsistencies (#32)
  .github/workflows/lint.yml
  src/options/components/Footer.tsx
  tsconfig.json
Due: prettier --write

fix: react maximum update depth exceeded (#33)
  eslint.config.js
  src/popup/components/ColorPicker.tsx
Due: none

chore: rename test file path (#36)
  test/toKanjiTToken.test.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

chore: format file and config vscode (#37)
  .vscode/settings.json
  src/background/messages/getKanjiMarks.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

fix: ColorPicker can't handle "currentColor" (#38)
  src/popup/components/ColorPicker.tsx
Due: none

chore: new version (#39)
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: enhance linter (#40)
  biome.json
  src/options/components/RuleEditor.tsx
  src/popup/components/ColorPicker.tsx
  src/popup/components/RangeSlider.tsx
  test/toKanjiToken.test.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

ci: reintroduce `submit.yml` (#41)
  .github/workflows/ci.yml
  .github/workflows/submit.yml
Due: none

refactor: migrate from `@iconify/react` to `tailwindcss-icons` (#43)
  bun.lockb
  package.json
  src/options/components/Footer.tsx
  src/options/components/Header.tsx
  src/options/components/Main.tsx
  src/options/components/NotFoundRule.tsx
  src/options/components/RuleEditor.tsx
  src/options/components/RuleItem.tsx
  src/popup/components/ColorPicker.tsx
  src/popup/components/Link.tsx
  src/popup/components/Select.tsx
  src/popup/components/SharedCard.tsx
  tailwind.config.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

chore: more complete vscode extension list (#44)
  .vscode/extensions.json
Due: prettier --write

refactor: revert to `@sglkc/kuromoji` (#46)
  bun.lockb
  package.json
  src/background/messages/getKanjiMarks.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

chore: release v1.3.3 (#47)
  .github/workflows/submit.yml
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: use the extension API `run_at` attribute instead of manually adding the `load` event listener (#49)
  src/contents/pageMarker.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

chore: add `start` script compatibility information for WSL2 (#50)
  .github/CONTRIBUTING.md
Due: prettier --write

refactor: harmonization of file naming conventions (#51)
  src/contents/autoMark.ts
  src/contents/handleEvent.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

feat: enable active flag for the icon of the page containing custom rules (#52)
  package.json
  src/background/index.ts
  src/contents/autoMark.ts
  src/contents/handleEvent.ts
  src/core/constants.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

feat: support JLPT N4 kanji filter (#54)
  assets/rules/filter.json
  package.json
  src/background/index.ts
  src/background/messages/getKanjiMarks.ts
  src/popup/index.tsx
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

chore: new version 1.4.0 (#55)
  CHANGELOG.md
  package.json
Due: prettier --write

ci: synchronize the trigger of "submit" and "release" (#56)
  .github/workflows/submit.yml
Due: none

chore: update readme (#57)
  README.md
Due: prettier --write

perf: reduce service worker request count (#58)
  src/core/addFurigana.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

refactor: simplify `.at(0)` logic for array deconstruction (#59)
  src/popup/index.tsx
Due: none

feat: official website "furiganamaker.app" (#60)
  bun.lockb
  package.json
  tailwind.config.ts
  tsconfig.json
  website/app/assets/favicon.ico
  website/app/assets/style.css
  website/app/components/Features.tsx
  website/app/components/Footer.tsx
  website/app/components/Header.tsx
  website/app/contexts.ts
  website/app/entry.client.tsx
  website/app/entry.server.tsx
  website/app/env.d.ts
  website/app/root.tsx
  website/app/routes/_index.tsx
  website/load-content.ts
  website/package.json
  website/tailwind.config.ts
  website/tsconfig.json
  website/vite.config.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

fix: cloudflare pages not working (#62)
  .gitignore
  biome.json
  bun.lockb
  website/functions/[[path]].ts
  website/package.json
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

website: add details about edge (#63)
  website/app/assets/cloudflare.svg
  website/app/components/AddToBrowser.tsx
  website/app/components/Footer.tsx
  website/app/root.tsx
  website/app/routes/_index.tsx
  website/tailwind.config.ts
Due: prettier --write --parser html, prettier --write, eslint --fix, vitest run related --passWithNoTests

website: use SSR fetch github star (#64)
  bun.lockb
  package.json
  website/app/components/AddToBrowser.tsx
  website/app/components/Footer.tsx
  website/app/root.tsx
  website/app/routes/_index.tsx
  website/package.json
  website/vite.config.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

chore: remove lint-staged (#65)
  .husky/pre-commit
  .lintstagedrc.json
  bun.lockb
  package.json
Due: prettier --write

chore: revert build command (#66)
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: run lint:fix in git hook (#67)
  .husky/pre-commit
Due: none

feat: website develop over (#68)
  .vscode/extensions.json
  bun.lockb
  website/app/assets/Logo.svg
  website/app/assets/style.css
  website/app/components/AddToBrowser.tsx
  website/app/components/Features.tsx
  website/app/components/Footer.tsx
  website/app/components/Header.tsx
  website/app/root.tsx
  website/app/routes/_index.tsx
  website/app/routes/welcome.tsx
  website/app/useRising.ts
  website/package.json
  website/tailwind.config.ts
Due: prettier --write --parser html, prettier --write, eslint --fix, vitest run related --passWithNoTests

website: fix valid rising anime (#70)
  website/app/components/AddToBrowser.tsx
  website/app/components/Header.tsx
  website/app/routes/_index.tsx
  website/app/routes/welcome.tsx
  website/app/useRising.ts
Due: prettier --write, eslint --fix, vitest run related --passWithNoTests

website: miss link to cloudfalre pages (#71)
  website/app/components/Footer.tsx
Due: none

website: fix typo, fix style, add tips (#72)
  website/app/components/Features.tsx
  website/app/components/Footer.tsx
  website/app/routes/_index.tsx
  website/app/routes/welcome.tsx
Due: none
